* {
    font-family: "Garamond", serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    letter-spacing: 0.05em;
    font-size: 1.75rem;
    font-weight: 900;

}

h2 {
    letter-spacing: 0.05em;
    font-size: 1em;
    font-weight: 300;
    line-height: 0.05rem;
}

h3 {
    letter-spacing: 0.05em;
    font-size: 0.8em;
    font-weight: 100;
    text-transform: uppercase;
}

aside {
    height: 100vh;
    padding: 2rem;
    width: 16rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    text-align: right;
}

nav a {
    color: #333;
    text-decoration: none;
    display: block;
    transition: color 0.5s ease-in-out;
    font-weight: 100;
}

.nav-container a:hover {
    color: #AAAAAA;
    -webkit-animation: slowskew 0.5s infinite alternate;
    -moz-animation: slowskew 0.5s infinite alternate;
    -o-animation: slowskew 0.5s infinite alternate;
    animation: slowskew 0.5s infinite alternate;
}

@-webkit-keyframes slowskew {
    to {
        -webkit-transform: skewX(-15deg);
    }
}

@-moz-keyframes slowskew {
    to {
        -moz-transform: skewX(-15deg);
    }
}

@-o-keyframes slowskew {
    to {
        -o-transform: skewX(-15deg);
    }
}

@keyframes slowskew {
    to {
        transform: skewX(-15deg);
    }
}

nav a:focus {
    color: #333333;
}

nav h2 {
    padding-top: 1.5rem;
}

.foundation,
.ui,
.other {
    padding-top: 2rem;
}

.foundation a,
.ui a,
.other a {
    text-transform: lowercase;
}

.content-container {
    padding: 2rem;
    margin: 0;
}

.content {
    float: left;
    width: 80%;
}